<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>


<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<meta http-equiv="content-type" charset="utf-8">
<title>ヘッダーとフッターのサンプルページ</title>
<style>

body {
   margin: 0px;
   -webkit-text-size-adjust: 100%;
   font-family: "メイリオ", meiryo, sans-serif;
   display: flex;/*フッター固定１*/
   flex-flow: column;/*フッター固定２*/
   min-height: 100vh;/*フッター固定３*/
}

.hwrapper {
   width: 100%;
   background-color: #ffffff;
   padding-top: 50px;
}

.header {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.cwrapper01 {
   padding-bottom: 20px;
   width: 100%;
   background-color: #ffffff;
}

.cwrapper02 {
   width: 100%;
   background-color: #00acee;
}

.container {
  margin: auto;
  max-width: 800px;
  /*background-color: pink;*/
  padding: 10px;
  font-size: 23px;

}

.fwrapper {
   width: 100%;
   background-color: #ffffff;
   flex: 1;/*フッター固定４*/
   padding-top: 100px;
}

.footer {
  margin: auto;
  max-width: 800px;
  padding-top: 0px;
  margin-bottom: 0px;
}
p.footer {
  margin-top: 0px;
}

.twitter {
  color: #00acee;
  margin: 0px 0px 0px 0px;
}

.comment01 {
  color: #ffffff;
}


ul {

  padding-top: 10px;
  padding-bottom: 10px
  /*背景色などのCSSは省略*/
}

li {

  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px


}

.s1 {
  margin-right: 15px;

}

.s2 {
  margin-left: 15px;
}


/*ヘッダーボタン１ここから*/
.btn-social-long-twitter1 {
  color: #ffffff;/*文字・アイコン色*/
  border-radius: 27px;/*角丸に*/
  display: inline-block;
  height: 54px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 19px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border: 3px solid #1da1f3;
}

.btn-social-long-twitter1 .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter1 span {
  display:inline-block;
  transition: .5s;
}

.btn-social-long-twitter1:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
/*ヘッダー内ボタン１ここまで*/

/*ヘッダーボタン２ここから*/
.btn-social-long-twitter2 {
  color: #1da1f3;/*文字・アイコン色*/
  border-radius: 27px;/*角丸に*/
  display: inline-block;
  height: 54px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 19px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #ffffff;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border: 3px solid #1da1f3;
}

.btn-social-long-twitter2 .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter2 span {
  display:inline-block;
  transition: .5s;
}

.btn-social-long-twitter2:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
/*ヘッダー内ボタン２ここまで*/


</style>
</head>

<body>

<div class="hwrapper">
<div class="header">
<center>
  <h1></h1>
</center>
</div><!--header-->
</div><!--hfwrapper-->


<!--cwrapper01-->
<div class="cwrapper01">
<div class="container">
<p><i class="fab fa-twitter fa-3x twitter"></i>
<center><h1>今、起きている事をつぶやこう！</h1></center>
</p>
</div><!--container-->
</div><!--cwrapper01ここまで-->

<!--cwrapper02-->
<div class="cwrapper02">
<div class="container">
<ul>
  <li><i class="fab fa-twitter comment01">　コメントを投稿しましょう</i></li>
  <li><i class="far fa-comment-alt comment01">　話題のトピックを追いかけましょう</i></li>
  <li><i class="far fa-heart comment01">　好きな投稿にいいね！しましょう</i></li>
</ul>
</div><!--container-->
</div><!--cwrapper02ここまで-->

<div class="fwrapper">
<div class="footer">
<center>
<span class="s1">
  <a href="/signup" class="btn-social-long-twitter1">
    <!--<i class="fa fa-twitter"></i>--> <span>新規登録</span>
  </a>
</span>
<span class="s2">
  <a href="/login" class="btn-social-long-twitter2">
    <!--<i class="fa fa-twitter"></i>--> <span>ログイン</span>
  </a>
</span>
</center>
</div><!--footer-->
</div><!--fwrapper-->


<div class="fwrapper">
<div class="footer">
<center>
<span>Copyright © 2019 All Rights Reserved</span>
</center>
</div><!--footer-->
</div><!--fwrapper-->
</body>
<html>
