<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>


<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<meta http-equiv="content-type" charset="utf-8">
<title>top_page</title>
<style>

</style>
</head>

<body>

<div class="hwrapper">
<div class="header">
<center>
  <h1></h1>
</center>
</div><!--header-->
</div><!--hfwrapper-->


<!--cwrapper01-->
<div class="cwrapper01">
<div class="container">
<p><i class="fab fa-twitter fa-3x twitter"></i>
<center><h1>今、起きている事をつぶやこう！！</h1></center>
</p>
</div><!--container-->
</div><!--cwrapper01ここまで-->

<!--cwrapper02-->
<div class="cwrapper02">
<div class="container">
<ul>
  <li><i class="fab fa-twitter comment01">　コメントを投稿しましょう</i></li>
  <li><i class="far fa-comment-alt comment01">　話題のトピックを追いかけましょう</i></li>
  <li><i class="far fa-heart comment01">　好きな投稿にいいね！しましょう</i></li>
</ul>
</div><!--container-->
</div><!--cwrapper02ここまで-->

<div class="fwrapper">
<div class="footer">
<center>
<span class="s1">
  <a href="/signup" class="btn-social-long-twitter1">
    <!--<i class="fa fa-twitter"></i>--> <span>新規登録</span>
  </a>
</span>
<span class="s2">
  <a href="/login" class="btn-social-long-twitter2">
    <!--<i class="fa fa-twitter"></i>--> <span>ログイン</span>
  </a>
</span>
</center>
</div><!--footer-->
</div><!--fwrapper-->


<div class="fwrapper">
<div class="footer">
<center>
<span>Copyright © 2019 All Rights Reserved</span>
</center>
</div><!--footer-->
</div><!--fwrapper-->
</body>
<html>
